{%load static%}
{%load customtags%}
<html>
    <head>
        <!--<link rel="stylesheet" href="{%static 'CSS/blog.css' %}">-->
        <style>
        .sidebar{
            width:30%;
            float:right;
            background:#FFB6C1;
            border:None;
            height:100%;
        }
        .content{
            width:70%;
            float:left;
            background:#FDEEF4;
            border:None;
            height:100%;
        }
        body{
            background:white;
            color:black;
        }
        h1{
            text-align:center;
            border-bottom:1px solid red;
            padding-bottom:10px;
        }

        #date{
            color:blue;
            font-size:14px;
            font-style:italic;
        }
        #xxx{
          color:blue;
          font-style:italic;
          font-size: 30px;
          border-bottom: 2px solid red;
        }
        #pcount{
          font-size:40px;
          color:blue;
          font-weight:bold;
        }
      </style>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" >

        <title>
            {%block title_block%}
            {%endblock%}
        </title>
    </head>
    <body>
        <div class='content'>
            {%block content%}
            {%endblock%}
        </div>
        <div class='sidebar'>
            <h2>KnowledgeUp Blog</h2>
            <p>The new updations are here......</p>
           <p>Total no. of published posts upto Today:<span id='pcount'>{%totalposts%}</span></p>
            <h3>Latest Posts:{%show_latestpost 8%}</h3>
            <h3>Most Commented Posts:</h3>
            {%get_most_commentedposts as obj%}
            <ul>
              {%for post in obj%}
              <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
              {%endfor%}
            </ul>

        </div>
    </body>
</html>
