{%extends 'blogapp/base.html'%}

{%block title_block%}
Share Post By Email
{%endblock%}

{%block content%}
{%if sent%}
<h1>Email sent successfully!!</h1>
<h2>Share Post With Title: "{{post.title}}" information shared By Email</h2>
{%else%}
<h2>Share Post with Title:"{{post.title}}"By Email</h2>

<form method='post'>
  {{form.as_p}}
  {%csrf_token%}
  <input type="submit" value="Send Mail" class="btn btn-primary btn-lg">
</form>
{%endif%}
{%endblock%} 
