{%extends 'blogapp/base.html'%}
{%block title_block%}
{{post.title}}
{%endblock%}
{%block content%}
<h1>{{post.title}}</h1>
<p id='date'>Published on {{post.publish}} by {{post.author|title}} </p>
{{post.body|linebreaks}}

<div class="container" >
<a href="/{{post.id}}/share" target="_blank" class="btn btn=lg btn-success">Share Post By Email</a>

 {%with comments.count as comments_count%}
 <h2>{{comments_count}} Comment{{comments_count | pluralize}}</h2>
 {%endwith%}

 {%if comments%}
 {%for comment in comments%}

<div class="xxx">{{comment.body | linebreaks}}
  </div>
  {%endfor%}
  <hr>
  {%else%}
  <p>There is no comments yet!!</p>
  {%endif%}

  {%if csubmit%}
  <h2>Your comment submitted successfully!!</h2>
  {%else%}
  <form method="post">
    {{form.as_p}}
    {%csrf_token%}
    <input type="submit" class="btn btn-success btn-lg" value="submit Comment">
  </form>
  {%endif%}
</div>
{%endblock%}
