.sidebar{
    width:40%;
    float:right;
    background:blue;
    border:None;
    height:100%;
}
.content{
    width:60%;
    float:left;
    background:#FDEEF4;
    border:None;
    height:100%;
}
body{
    background:#FDEEF4;
    color:black;
}
h1{
    text-align:center;
    border-bottom:1px solid red;
    padding-bottom:10px;
}

#date{
    color:blue;
    font-size:14px;
    font-style:italic;
}
#xxx{
  color:blue;
  font-style:italic;
  font-size: 30px;
  border-bottom: 2px solid red;
}
#pcount{
  font-size:40px;
  color:blue;
  font-weight:bold;
}
